@each $color_def in $colors {
  $name: nth($color_def, 1);
  $color: nth($color_def, 2);

  .#{$name} {
    color: $color;
  }
  .bg--#{$name} {
  	background-color: $color;
  }
  .bg-full--#{$name} {
  	&::before {
  		background-color: $color;
  	}
  }
  .border--#{$name} {
  	border-color: $color;
  }
}

[class^="bg-full--"] {
	position: relative;
	z-index: 2;
	&::before {
		position: absolute;
		top: 0;
		width: 99999em;
		left: -999em;
		z-index: -1;
		height: 100%;
		content: "";
	}
}
